<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Training Studio - Free CSS Template</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-training-studio.css') }}">
    

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        
                        <a href="/" class="logo"><img src=" ../assets/images/logo (1).png" alt="logo gark sport" style="width: 200px; height: auto;"></a>

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Accueil</a></li>
                            <li class="scroll-to-section"><a href="#features">A Propos</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Fonctionnement</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Partenariat</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contactez-nous</a></li> 
                            {% if username %}
                            <li class="main-button "><a href="/logout">Quiter</a></li>
                            {% else %}
                            <li class="main-button "><a href="/login">Se connecter</a></li>
                            {% endif %}

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src=" ../assets/images/gym-v4 ‐ Réalisée avec Clipchamp.mp4"type="video/mp4" />
            
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                {% if username %}
                <h6>Bienvenu, {{username}} !</h6>
                {% else %}
                <h6>work harder, get stronger</h6>
                {% endif %}
                <h4>Libérez le potentiel de votre équipe avec notre solution de <em>suivi des performances</em></h4>
                <!-- <h4>Optimisez les performances des joueurs, prenez des décisions éclairées et <em>dominez le terrain</em></h4> -->
                
                <div class="main-button scroll-to-section">
                    {% if username %}
                    {% else %}
                    <a href="/signup">Devenir un membre</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                    <div class="section-heading">
                        
                        <h2>A <em>Propos</em></h2>
                        <img src=" ../assets/images/line-dec.png" alt="waves">
                        <p>
                            <!-- Grâce à sa capacité à fournir des informations exploitables, à améliorer le développement des joueurs et à rationaliser l'analyse des performances,  -->
                            Le système Gark sport de Détection et Suivi des Joueurs est sur le point de transformer la façon dont les équipes sportives abordent l'optimisation des performances.
                             En fournissant une compréhension globale et objective des performances individuelles et collectives, notre système permet aux entraîneurs : 
                        </p>
                    </div>
               
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src=" ../assets/images/Copie de Copie de IR peak analysis Last weeks July.png" alt="First One">
                            </div>
                            <div class="right-content">
                                <h4>Evaluations objectives </h4>
                                <p>Les analyses basées sur les données fournissent des évaluations objectives des performances des joueurs, sans biais subjectif.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src=" ../assets/images/gaintemp.png" alt="second one">
                            </div>
                            <div class="right-content">
                                <h4>Gain de temps et de ressources </h4>
                                <p>L'analyse automatisée rationalise le processus, libérant du temps et des ressources précieux pour les entraîneurs et le personnel.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src=" ../assets/images/precision.png" alt="third gym training">
                            </div>
                            <div class="right-content">
                                <h4>Précision et fiabilité améliorées</h4>
                                <p>La collecte automatisée des données élimine les erreurs humaines, garantissant l'exactitude et la cohérence des mesures de performance.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src=" ../assets/images/analyse.png" alt="fourth muscle">
                            </div>
                            <div class="right-content">
                                <h4>Optimiser les stratégies de jeu</h4>
                                <p>Analysez les données pour optimiser les tactiques et exploiter les forces de l'équipe.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src=" ../assets/images/cultiver.png" alt="training fifth">
                            </div>
                            <div class="right-content">
                                <h4>cultiver les jeunes talents</h4>
                                <p>Identifiez les joueurs prometteurs et développez-les grâce à des programmes personnalisés.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src=" ../assets/images/plan.png" alt="gym training">
                            </div>
                            <div class="right-content">
                                <h4>Développer des plans d'entraînement personnalisés</h4>
                                <p>Créez des plans d'entraînement sur mesure pour chaque joueur afin de maximiser l'efficacité.</p>
    
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Lancez- <em>vous</em>, aujourd' <em>hui</em>!</h2>
                        <p>Identifiez vos points forts et vos points faibles, prenez des décisions éclairées et atteignez de nouveaux sommets dans votre jeu.</p>
                        <div class="main-button scroll-to-section">
                            {% if username %}
                            
                            {% else %}
                            <a href=" /signup">DEVENIR UN MEMBRE</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Obtenir<em> les performances</em></h2>
                        <img src=" ../assets/images/line-dec.png" alt="">
                        <p>
                            Le système Gark Sport de détection et de suivi des joueurs, facilite l'extraction d'informations précieuses. Voici un guide pour commencer : </p>
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'><img src=" ../assets/images/plan1.png" alt="">Premiere étape</a></li>
                  <li><a href='#tabs-2'><img src=" ../assets/images/plan1.png" alt="">Deuxiéme étape</a></a></li>
                  <li><a href='#tabs-3'><img src=" ../assets/images/plan1.png" alt="">Troisiéme étape</a></a></li>
                  <li><a href='#tabs-4'><img src=" ../assets/images/plan1.png" alt="">Quatriéme étape</a></a></li>
                  
                  
                  {% if username %}
                  <div class="main-rounded-button"><a href="/uplode">Lancer</a></div>
                  {% else %}
                  <div class="main-rounded-button"><a href="/signup">Lancer</a></div>
                  {% endif %}

                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-1'>
                    <img src=" ../assets/images/etape1.png" alt="First Class">
                    <h4>Télécharger la vidéo</h4>
                    <p>Cliquez à l'intérieur de la zone de dépôt de fichier pour sélectionner et télécharger un fichier video ou faites glisser et déposez votre fichier là-bas</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-2'>
                    <img src=" ../assets/images/etape2.png" alt="Second Training">
                    <h4>Lancer l'analyse</h4>
                    <p>Cliquez sur le bouton Démarrer pour démarrer un processus de détection des joueurs.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-3'>
                    <img src=" ../assets/images/" alt="Third Class">
                    <h4>Consulter les résultats</h4>
                    <p>Une fois le processus lancé, un indicateur indiquant sa progression apparaît sur la page. Une fois tous les joueurs détectés, les statistiques apparaît sur la page.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                  <article id='tabs-4'>
                    <img src=" ../assets/images/etape4.jpg" alt="Fourth Training">
                    <h4>Exploiter les insights</h4>
                    <p>Utilisez les insights obtenus pour optimiser vos stratégies de jeu, identifier les talents prometteurs, développer des plans d'entraînement personnalisés, et améliorer les performances globales de votre équipe.</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Expert <em>Trainers</em></h2>
                        <img src=" ../assets/images/line-dec.png" alt="">
                        <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src=" ../assets/images/first-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Strength Trainer</span>
                            <h4>Bret D. Bowers</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src=" ../assets/images/second-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Muscle Trainer</span>
                            <h4>Hector T. Daigl</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src=" ../assets/images/third-trainer.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Power Trainer</span>
                            <h4>Paul D. Newman</h4>
                            <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free vegan church-key pour-over seitan flannel.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9670.101011094825!2d10.07699335111212!3d36.811794714492926!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd2d8cf72265cb%3A0x7fc41ab7e1b5bd62!2sESEN!5e0!3m2!1sfr!2stn!4v1713782157677!5m2!1sfr!2stn" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Votre Nom*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Votre Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Sujet">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Envoyée le Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p> &copy; 
                    
                    - Réalisée par <a rel="nofollow" href="" class="tm-text-link" target="_parent">E&A</a></p>
                    
                    <!-- You shall support us a little via PayPal to info@templatemo.com -->
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src=" ../assets/js/jquery-2.1.0.min.js"></script>
    <script src=" ../assets/js/scriptuplode.js"></script>

    <!-- Bootstrap -->
    <script src=" ../assets/js/popper.js"></script>
    <script src=" ../assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src=" ../assets/js/scrollreveal.min.js"></script>
    <script src=" ../assets/js/waypoints.min.js"></script>
    <script src=" ../assets/js/jquery.counterup.min.js"></script>
    <script src=" ../assets/js/imgfix.min.js"></script> 
    <script src=" ../assets/js/mixitup.js"></script> 
    <script src=" ../assets/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src=" ../assets/js/custom.js"></script>

  </body>
</html>